header {
    background: #42c062;
    padding: 10px 0;
}
.caixa{
    position: relative;
    width: 110px;
    margin: 100px;
}
.topo {
    margin: 0px 50px 0;
    position: relative;
    height: 80px
}
footer {
    position: absolute;
    bottom: 0;
    background-color: #42c062;
    color: #ffffff;
    width: 100%;
    height: 140px;
}
.copyr {
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 22px;
}
nav{
    position: absolute;
    top: 20px;
    left: 300px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #09180b;

}
.field {
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    margin-left: 30px;
    padding: 5px 10px;
    margin-top: 10vh;
}

.data {
    display: block;
    margin-left: 30px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.checkbox {
    display: block;
    margin-left: 30px;
    padding: 5px 10px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-teste {
    background-color: #42c062;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    width: 450px;
    border-radius: 10px;
    margin-top: -210px;
    margin-left: 450px;
    padding: 15px 10px 10px 10px;
}

#btn-submit {
    font-size: 15px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white
}